RASPAPI_PORT=3000
LIGHTS_HOST=127.0.0.1
LIGHTS_USERNAME=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MPD_HOST=127.0.0.1
MPD_PORT=6600
PVOUTPUT_APIKEY=xxxxxxxxxxxxx
PVOUTPUT_SYSTEMID=xxxxx
WEATHER_HOST=http://127.0.0.1:1234
TRANSMISSION_HOST=127.0.0.1
TRANSMISSION_PORT=9091
